.border-corner {
    border-radius: 0.5rem;
}


.white-rect {
    height: 3rem;
    width: 8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
}

.small-white-rect {
    height: 1.5rem;
    width: 8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
}

.small-blue-rect {
    height: 1.5rem;
    width: 8rem;
    border-radius: 0.8rem;
}

.large-grey-sqr{
    height: 20rem;
    width: 20rem;
    background-color: grey;
    border-radius: 0.5rem;
}

.large-grey-rect {
    height: 2rem;
    width: 30rem;
    background-color: grey;
    border-radius: 0.5rem;
}

.large-grey-rect-two {
    height: 2rem;
    width: 20rem;
    background-color: grey;
    border-radius: 0.5rem;
}

.large-blue-rect {
    height: 3rem;
    width: 30rem;
    border-radius: 0.5rem;
}

.feature-box {
    width: 20rem;
    height: 1rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
}

.circle-shape {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 5rem;
    height: 5rem;
}

.gallery-container {
    width: 5rem;
    height: 10rem;
}

.gallery-box {
    height: 6rem;
    width: 12rem;
    background-color: rgb(255, 255, 255);
}

